<div class="card">
    <div class="cat-image">
        <img src="{{url}}" alt="{{name}}">
    </div>

    <div class="cat-body">
        <h2 class="cat-name"> {{name}}</h2>
        <p class="cat-info"> {{description}}</p>
        <p class="cat-info"><span class="temperament">Temperament:{{temperament}}</span> </p>
    </div>
</div>